.movieRow{
  margin-bottom: 30px;
}

.movieRow h2{
  margin: 0px 0px 0px 30
}

/*area da lista - tudo o que passar da tela sera cortado -overflow x*/

.movieRow--listarea{
  overflow-x: hidden;
  padding-left: 30px;
}

/*cada item ficara lado a lado */
.movieRow--item{
  display: inline-block;
  width: 150px;
  cursor: pointer;
}


.movieRow--list{
  width: 999999px;
}
/*a imagem terá 100% da sua box -  e o transform  vai reduzir na escala só para possibilitar um efeito que vem abaixo (tipo zoom individual) */
.movieRow--item img{
  width: 100%;
  transform:scale(0.9);
  transition: all ease 0.3s;
}
.movieRow--item img:hover{
  transform:scale(1) 
}